
#op{

position: relative;
font-weight: 550;
font-size: 3rem;
text-align: center;
margin-top: 1.5rem;
margin-bottom: 0%;
}



body {
        font-family: 'Poppins', sans-serif;
        background-color: #edf2f7;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem;
        box-sizing: border-box;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        border: 1px solid #cbd5e0;
    }

    th, td {
        padding: 0.75rem;
        text-align: center;
        border: 1px solid #cbd5e0;
    }

    th {
        background-color: #f8fafc;
    }

    input[type="checkbox"] {
        margin: 0;
    }

    button {
        border: 1px solid rgba(5, 5, 5, 0.1);
        background: #e8e8e8;
        border-radius: 0.2rem;
        color: #4e4e4e;
        cursor: pointer;
        font-weight: bold;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
    }

    button:hover {
        background: #b0b0b0;
    }

    #searchInput {
        padding: 0.5rem;
        margin-bottom: 1rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgb(237, 237, 237);
        outline: none;
        font-size: 1.2rem;

    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .pagination button {
        margin: 0 0.5rem;
    }